@{
    ViewData["Title"] = "Home Page";
}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row g-5 py-5 row-cols-1 row-cols-lg-2">
        <div class="col order-last order-lg-first">
            <h1 class="display-5 fw-bold lh-1 mb-3 logoFont"> AddressBook Database</h1>
            <h4 class="lead">
                A fully functioning Address Book application using postgres/SQL to maintain database. 
                <strong>BOLD.</strong>
            </h4>
            <ul class="fa-ul pt-2 checklist">
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>CSS and HTML Layout</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Javascript Fundamentals</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Javascript Loops</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Javascript Functions</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Javascript Dom Manipulation</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Javascript If/Then/Else</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Javascript Boolean Logic</li>
            </ul>

            <div>
                <a type="button" class="btn btn-outline-danger btn-lg px-4 me-md-2" href="Contacts\Index">Try It Out</a>
            </div>
            <h5 class="fw-bold mt-5">
                <div class="d-flex">
                    <div class="row">
                        <div class="col jsicon"><i class="fab fa-js-square fa-5x"></i></div>
                        <div class="col bsicon"><i class="fab fa-bootstrap fa-5x"></i></div>
                        <div class="col html5icon"><i class="fab fa-html5 fa-5x"></i></div>
                        <div class="col cssicon"><i class="fab fa-css3-alt fa-5x"></i></div>
                    </div>
                </div>
            </h5>
        </div>
        <div class="col">
            <img src="~/img/RebelGrenade-trans.jpg" class="img-fluid center-block  d-block mx-auto"
                 alt="TruRebel Logo" width="500" height="700">
        </div>
    </div>
</div>